# Environments
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / IDE
.DS_Store
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# Data (keep files out of git, but keep the folders visible)
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Models / artifacts (keep files out of git, but keep the folder visible)
models/*
!models/.gitkeep
*.pkl
